.App {
  text-align: center;
}

.main{

  width: 1000px;
  height: 580px;
  margin: 20px auto;
background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 6px 17px -3px rgba(57, 140, 146, 0.49);
border-radius: 15px;
}

.upload-btn{
    width: 150px;
    height: 50px;
  margin-top: 5px;
  background-color: rgb(0, 153, 255);
  padding: 10px 20px 10px 20px;
  color: #FFFFFF;
  font-family:sans-serif;
  font-size: 30px;
  font-weight: 600;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0px 6px 1px -3px rgba(57, 140, 146, 0.49);
  outline: none;
  cursor: pointer;
}
.upload-btn:hover{
  background-color: rgb(0, 118, 197);
}

.verify-btn{
  width: 150px;
  height: 50px;
  margin-top: 5px;
  background-color: rgb(0, 153, 255);
  color: #FFFFFF;
  font-family:sans-serif;
  font-size: 30px;
  font-weight: 600;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0px 6px 1px -3px rgba(57, 140, 146, 0.49);
  outline: none;
  cursor: pointer;
}
.verify-btn:hover{
  background-color: rgb(0, 118, 197);
}

h3{
  margin-top: 50px;
}
.file-comp{
  width: 500px;
  margin: 50px auto;
  display: inline-flex;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
}
.name{
  width: 500px;
}
.down-btn{
  margin: 5px auto;
  background-color: rgb(0, 153, 255);
  padding: 10px 20px 10px 20px;
  color: #FFFFFF;
  font-family:sans-serif;
  font-size: 20px;
  font-weight: 400;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0px 6px 1px -3px rgba(57, 140, 146, 0.49);
  outline: none;
  cursor: pointer;
}

.file-btn::-webkit-file-upload-button {
  visibility: hidden;
}
.file-btn::before {
  content: 'Select file';
  display: inline-block;
  margin-right: 100px;
  background:rgb(255, 255, 255);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.file-btn:hover::before {
  border-color: black;
}
.file-btn:active::before {
  background: #FFFFFF;
}